<a href="https://colab.research.google.com/github/ashishgeorge1811/pandas/blob/master/webscraping_using_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#csv to json

In [0]:
df.to_json(orient='records')

In [0]:
#Reading HTML  table contentfro webpage

In [0]:
import pandas as pd
url='https://www.fdic.gov/bank/individual/failed/banklist.html'
dfs = pd.read_html(url)
dfs[0]

                             Bank Name  ...       Closing Date
0                 The First State Bank  ...      April 3, 2020
1                   Ericson State Bank  ...  February 14, 2020
2     City National Bank of New Jersey  ...   November 1, 2019
3                        Resolute Bank  ...   October 25, 2019
4                Louisa Community Bank  ...   October 25, 2019
..                                 ...  ...                ...
556                 Superior Bank, FSB  ...      July 27, 2001
557                Malta National Bank  ...        May 3, 2001
558    First Alliance Bank & Trust Co.  ...   February 2, 2001
559  National State Bank of Metropolis  ...  December 14, 2000
560                   Bank of Honolulu  ...   October 13, 2000

[561 rows x 6 columns]

In [0]:
#Web scraping tables in a page

In [0]:
url1 = 'https://en.wikipedia.org/wiki/Mobile_country_code'
dfs1 = pd.read_html(url1,match='Country',header=0)  #in the match place use the matching word in the table
dfs1[0]

     Mobile Country Code  ...                   Remarks
0                    289  ...  MCC is not listed by ITU
1                    412  ...                       NaN
2                    276  ...                       NaN
3                    603  ...                       NaN
4                    544  ...                       NaN
..                   ...  ...                       ...
247                  452  ...                       NaN
248                  543  ...                       NaN
249                  421  ...                       NaN
250                  645  ...                       NaN
251                  648  ...                       NaN

[252 rows x 6 columns]